{% extends 'base.html' %}
{% block content %}
{{ block.super }}
{% load static %}
{% load bootstrap3 %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container">

    <div class="row">
        {% for community_item in community %}
        <div class="col-md-6">

            <br>


            <div class="w3-card-4" style="width:80%">

                <img src="{{community_item.community_image.url}}" alt="Alps" style="width:100%">

                <div class="container">
                    <h5 class="card-title">{{ community_item.title }} </h5>
                    <p class="card-text">
                        <h4>{{ community_item.name }}</h4>
                    </p>
                    <a href="{% url 'businesses' community_item.id %}" class="btn btn-danger">
                        View Available Houses
                    </a>


                    <div class="w3-container w3-center">

                        <h5>{{ community_item.title }}</h5>

                    </div>
                </div>
            </div>
        </div>



        {% empty %}
    </div>
    {% endfor %}

    {% endblock %}